body{
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
}

.izquierda{
  background: blue;
  color: white;
  flex:2px;
}

.derecha{
  background: red;
  color: white;
  flex:1px;
}

.tarjeta{
  flex: 1 1 100%;
  border: 1px solid lightgreen;
}
