* {
  text-align: center;
}

table {
  display: flex;
  justify-content: center;
  font-family: sans-serif Verdana;
  font-size: 2em;
  border-style: hidden;
  margin: 4px;
}

td {
  height: 100px;
  width: 500px;
}
h1, h2 {
  font-size: 4em;
}
Span {
  font-size: 40px;
  padding-bottom: 5px;
  text-align: justify;
}
.blue {
  color: #0057bc
}

.short {
  width: auto;
}

.imagen {
  height: 400px;
  width: 350px;
}

#Procesadores {
  color: white;
  background-color: #f70506;
    height: 110px;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

button:hover{
    background-color: #e20000;
    box-shadow: 0 0 rgba(0,0,0,0.2);
}
